<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997553044712-tudq4afqjigb9a0tjifqiqgok4c1jmdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997553044712-tudq4afqjigb9a0tjifqiqgok4c1jmdi</string>
	<key>API_KEY</key>
	<string>AIzaSyC2vtKoIF_3N_rP1zJWExK9KHJhUk2LY_A</string>
	<key>GCM_SENDER_ID</key>
	<string>997553044712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testing-firestore-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-firestore-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997553044712:ios:fd3748a4af1df83274dd5d</string>
</dict>
</plist>